<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改权限组</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <form id="app" v-on:submit.stop.prevent>
        父级权限组：
        <select v-model="parentId">
            <option value="0">--无父级--</option>
            <option v-for="(group, index) in groups" v-bind:value="group.id">{{group.name}}</option>
        </select>
        <br>
        权限组名称：<input type="text" v-model="name"><br>
        权限组描述：<input type="text" v-model="description"><br>
        <input type="submit" value="提交" v-on:click.stop.prevent="updateSysGroupById()">
    </form>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                id: '',
                parentId: '0',
                name: '',
                createTime: '',
                description: '',
                groups: []
            },
            created: function() {
                var _this = this
                axios.get('/selectSysGroup').then(function (response) {
                    _this.groups = response.data
                })
                _this.id = getQueryString('id')
                axios.get('/selectSysGroupById?id=' + _this.id).then(function (response) {
                    _this.parentId = response.data.parentId
                    _this.name = response.data.name
                    _this.createTime = response.data.createTime
                    _this.description = response.data.description
                })
            },
            methods: {
                updateSysGroupById: function () {
                    var _this = this
                    var params =  new FormData()
                    params.append('id', _this.id)
                    params.append('parentId', _this.parentId)
                    params.append('name', _this.name)
                    params.append('createTime', _this.createTime)
                    params.append('description', _this.description)
                    axios.post('/updateSysGroupById', params).then(function (response) {
                        location.href = "/group/group_select.html"
                    })
                }
            }
        })
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(decodeURIComponent(r[2]));
            return null;
        }
    </script>
</body>
</html>