<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>给账号授权</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <div style="height: 200px; overflow: scroll;">
            <table border="1">
                <tr>
                    <td>选择</td>
                    <td>权限组名称</td>
                    <td>权限组描述</td>
                </tr>
                <tr v-for="(group, index) in groups">
                    <td><input type="checkbox" v-model="groupIds" v-bind:value="group.id"></td>
                    <td>{{group.name}}</td>
                    <td> {{group.description}}</td>
                </tr>
            </table>
        </div>
        <div style="height: 200px; overflow: scroll;">
            <table border="1">
                <tr>
                    <td>选择</td>
                    <td>角色名称</td>
                    <td>角色描述</td>
                </tr>
                <tr v-for="(role,index) in roles">
                    <td><input type="checkbox" v-model="roleIds" v-bind:value="role.id"></td>
                    <td>{{role.name}}</td>
                    <td> {{role.description}}</td>
                </tr>
            </table>
        </div>
        <br>
        <input type="button" value="分配角色" v-on:click="assignRoleToGroup()">
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            created: function() {
                var _this = this
                axios.get('/selectSysGroup').then(function (response) {
                    _this.groups = response.data
                })
                axios.get('/selectSysRole').then(function (response) {
                    _this.roles = response.data
                })
            },
            data: {
                groups: [],
                roles: [],
                groupIds: [],
                roleIds: []
            },
            methods: {
                assignRoleToGroup: function () {
                    var _this = this
                    var params =  new FormData()
                    params.append('groupIds', _this.groupIds)
                    params.append('roleIds', _this.roleIds)
                    params.append('type', _this.type)
                    axios.post('/assignRoleToGroup', params).then(function (response) {
                        alert('分配成功')
                    })
                }
            }
        })
    </script>
</body>
</html>